In [0]:
import pandas as pd
import numpy as np

import copy

In [3]:
initial_data = pd.read_csv('/content/train.csv')
print(initial_data.shape)
#print(initial_data.columns)

(3865, 80)

In [4]:
initial_data.describe()

       galactic year  ...            y
count   3.865000e+03  ...  3865.000000
mean    1.000709e+06  ...     0.082773
std     6.945463e+03  ...     0.063415
min     9.900250e+05  ...     0.013036
25%     9.950060e+05  ...     0.047889
50%     1.000000e+06  ...     0.057820
75%     1.006009e+06  ...     0.087389
max     1.015056e+06  ...     0.683813

[8 rows x 79 columns]

*   "галактический год"
*   "галактика"
*   "индекс ожидаемой продолжительности существования"
*   "ожидаемая продолжительность жизни при рождении"
*   "валовой доход на душу населения",
*   List item
*   List item
*   List item
*   List item
*   List item
*   List item
*   List item
*   List item*   List item
*   List item
*   List item
*   List item*   List item
*   List item
*   List item
*   List item*   List item
*   List item
*   List item
*   List item


"Индекс доходов", "Ожидаемые годы обучения (галактические годы)",
       "Средние годы образования (галактические годы)",
       Индекс межгалактического развития (ИРР)", "Индекс образования",
       "Индекс межгалактического развития (IDI), рейтинг",
       "Население, пользующееся, по крайней мере, базовыми услугами питьевой воды (%)",
       "Население, пользующееся, по крайней мере, базовыми санитарными услугами (%)",
       Валовое накопление капитала (% от ВНП)", "Население, всего (млн.)",
       "Население, городское (%)",
       "Коэффициент смертности, до пяти лет (на 1000 живорождений)",
       "Коэффициент смертности, младенец (на 1000 живорождений)",
       "Коэффициент зависимости от старости (старость (65 лет и старше) на 100 существ (15-64 года))",
       "Население в возрасте 15-64 (миллионов) лет",
       "Население в возрасте 65 лет и старше (миллионы)",
       "Ожидаемая продолжительность жизни при рождении, мужчина (галактические годы)",
       "Ожидаемая продолжительность жизни при рождении, женская (галактические годы)",
       "Население в возрасте до 5 лет (миллионов)",
       "Коэффициент зависимости молодого возраста (0-14) (на 100 существ в возрасте 15-64 лет)",
       "Коэффициент рождаемости среди подростков (роды на 1000 самок в возрасте 15-19 лет)",
       "Общий уровень безработицы (соотношение женщин и мужчин)",
       "Уязвимая занятость (% от общей занятости)",
       "Безработица, общая (% рабочей силы)",
       "Занятость в сельском хозяйстве (% от общей занятости)",
       "Коэффициент участия в рабочей силе (% в возрасте 15 лет и старше)",
       "Коэффициент участия в рабочей силе (% в возрасте 15 лет и старше), женщины",
       "Занятость в сфере услуг (% от общей занятости)",
       "Коэффициент участия в рабочей силе (% в возрасте 15 лет и старше), мужчина",
       "Соотношение занятости и численности населения (% в возрасте 15 лет и старше)",
       "Площадь джунглей (% от общей площади земли)",
       "Доля занятости в несельскохозяйственном секторе, женщины (% от общей занятости в несельскохозяйственном секторе)",
       "Уровень безработицы среди молодежи (соотношение женщин и мужчин)",
       "Безработица, молодежь (% в возрасте 15-24 лет)",
       "Уровень смертности, взрослая женщина (на 1000 человек)",
       "Смертность, взрослый мужчина (на 1000 человек)",
       "Младенцы без иммунизации, красная горячая болезнь (% одногалактических годовых)",
       "Младенцы без иммунизации, Комбинированная вакцина (% от годовалых одногалактических детей)",
       "Валовой галактический продукт (ВГП) на душу населения",
       "Валовой галактический продукт (GGP), итого",
       "Внешние галактики прямые инвестиции, чистый приток (% от GGP)",
       "Экспорт и импорт (% от GGP)",
       "Доля мест в сенате (%, занимаемых женщинами)",
       "Истощение природных ресурсов",
       "Средние годы образования, женские (галактические годы)",
       "Средние годы обучения, мужчины (галактические годы)",
       "Ожидаемые годы образования, женщины (галактические годы)",
       "Ожидаемые годы образования, мужчины (галактические годы)",
       "Коэффициент материнской смертности (смертность на 100 000 живорождений)",
       "Потребление возобновляемых источников энергии (% от общего конечного потребления энергии)",
       "Оценочный валовой галактический доход на душу населения, мужчина",
       "Оценочный валовой галактический доход на душу населения, женщина",
       "Сельское население, имеющее доступ к электричеству (%)",
       "Внутренний кредит, предоставленный финансовым сектором (% от GGP)",
       "Население, имеющее, по крайней мере, некоторое среднее образование, женщина (% в возрасте 25 лет и старше)",
       "Население, имеющее, по крайней мере, некоторое среднее образование, мужчина (% в возрасте 25 лет и старше)",
       "Валовое накопление основного капитала (% от GGP)",
       "Денежные переводы, притоки (% от GGP)",
       "Население, имеющее, по крайней мере, некоторое среднее образование (% в возрасте 25 лет и старше)",
       "Межгалактические прибывающие туристы (тысячи)",
       "Валовой коэффициент зачисления в начальную школу, начальную школу (% от числа несовершеннолетних в начальной школе)",
       "Заболеваемость респираторными заболеваниями (на 100 000 человек)",
       "Межзвездные телефонные абонементы (на 100 человек)",
       "Пользователи Interstellar Data Net, всего (% населения)",
       Текущие расходы на здравоохранение (% от GGP)",
       "Индекс межгалактического развития (ИРР), женский",
       "Индекс межгалактического развития (IDI), мужской",
       "Индекс гендерного развития (ИГР)",
       "Индекс межгалактического развития (ИРР), женщина, ранг",
       "Индекс межгалактического развития (ИРР), мужчина, ранг",
       "Скорректированные чистые сбережения",
      "распространенность заболевания иммунодефицита, взрослый (% в возрасте 15-49 лет), итого",
       "Потоки капитала частной галактики (% от GGP)",
       "Индекс гендерного неравенства (ИГН)", "у".

# Обработка NaN

# 1. Удаляем >70% Nan, заполняем средним

In [0]:
data = copy.deepcopy(initial_data)

## 1.1. Удаление столбцов

In [0]:
def process_NaN_columns(
    *, 
    data: pd.DataFrame, 
    column_name: str, 
    percentage_value: int = 70,
) -> pd.DataFrame:
    df = copy.deepcopy(data)
    observations, _ = df.shape
    nan_values = df[column_name].isna().sum()
    print(f'{column_name} has {nan_values} Nan')
    if nan_values/observations*100 > percentage_value:
      df = df.drop(column_name, axis=1)
      print(f'----{column_name} with {nan_values} NaN was dropped----')
    return df

In [8]:
new_data = data
for col in data.columns:
  new_data = process_NaN_columns(data=new_data, column_name=col)

galactic year has 0 Nan
galaxy has 0 Nan
existence expectancy index has 1 Nan
existence expectancy at birth has 1 Nan
Gross income per capita has 28 Nan
Income Index has 28 Nan
Expected years of education (galactic years) has 133 Nan
Mean years of education (galactic years) has 363 Nan
Intergalactic Development Index (IDI) has 391 Nan
Education Index has 391 Nan
Intergalactic Development Index (IDI), Rank has 433 Nan
Population using at least basic drinking-water services (%) has 1844 Nan
Population using at least basic sanitation services (%) has 1850 Nan
Gross capital formation (% of GGP) has 2363 Nan
Population, total (millions) has 2594 Nan
Population, urban (%) has 2594 Nan
Mortality rate, under-five (per 1,000 live births) has 2594 Nan
Mortality rate, infant (per 1,000 live births) has 2606 Nan
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)) has 2601 Nan
Population, ages 15–64 (millions) has 2601 Nan
Population, ages 65 and older (millions) has 2601 Nan
Life expectancy at birth, male (galactic years) has 2601 Nan
Life expectancy at birth, female (galactic years) has 2601 Nan
Population, under age 5 (millions) has 2601 Nan
Young age (0-14) dependency ratio (per 100 creatures ages 15-64) has 2601 Nan
Adolescent birth rate (births per 1,000 female creatures ages 15-19) has 2613 Nan
Total unemployment rate (female to male ratio) has 2628 Nan
Vulnerable employment (% of total employment) has 2628 Nan
Unemployment, total (% of labour force) has 2628 Nan
Employment in agriculture (% of total employment) has 2628 Nan
Labour force participation rate (% ages 15 and older) has 2628 Nan
Labour force participation rate (% ages 15 and older), female has 2628 Nan
Employment in services (% of total employment) has 2628 Nan
Labour force participation rate (% ages 15 and older), male has 2628 Nan
Employment to population ratio (% ages 15 and older) has 2628 Nan
Jungle area (% of total land area) has 2631 Nan
Share of employment in nonagriculture, female (% of total employment in nonagriculture) has 2628 Nan
Youth unemployment rate (female to male ratio) has 2629 Nan
Unemployment, youth (% ages 15–24) has 2629 Nan
Mortality rate, female grown up (per 1,000 people) has 2612 Nan
Mortality rate, male grown up (per 1,000 people) has 2612 Nan
Infants lacking immunization, red hot disease (% of one-galactic year-olds) has 2646 Nan
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds) has 2646 Nan
Gross galactic product (GGP) per capita has 2663 Nan
Gross galactic product (GGP), total has 2663 Nan
Outer Galaxies direct investment, net inflows (% of GGP) has 2696 Nan
Exports and imports (% of GGP) has 2721 Nan
----Exports and imports (% of GGP) with 2721 NaN was dropped----
Share of seats in senate (% held by female) has 2742 Nan
----Share of seats in senate (% held by female) with 2742 NaN was dropped----
Natural resource depletion has 2733 Nan
----Natural resource depletion with 2733 NaN was dropped----
Mean years of education, female (galactic years) has 2725 Nan
----Mean years of education, female (galactic years) with 2725 NaN was dropped----
Mean years of education, male (galactic years) has 2727 Nan
----Mean years of education, male (galactic years) with 2727 NaN was dropped----
Expected years of education, female (galactic years) has 2756 Nan
----Expected years of education, female (galactic years) with 2756 NaN was dropped----
Expected years of education, male (galactic years) has 2757 Nan
----Expected years of education, male (galactic years) with 2757 NaN was dropped----
Maternal mortality ratio (deaths per 100,000 live births) has 2613 Nan
Renewable energy consumption (% of total final energy consumption) has 2630 Nan
Estimated gross galactic income per capita, male has 2810 Nan
----Estimated gross galactic income per capita, male with 2810 NaN was dropped----
Estimated gross galactic income per capita, female has 2810 Nan
----Estimated gross galactic income per capita, female with 2810 NaN was dropped----
Rural population with access to electricity (%) has 2836 Nan
----Rural population with access to electricity (%) with 2836 NaN was dropped----
Domestic credit provided by financial sector (% of GGP) has 2786 Nan
----Domestic credit provided by financial sector (% of GGP) with 2786 NaN was dropped----
Population with at least some secondary education, female (% ages 25 and older) has 2776 Nan
----Population with at least some secondary education, female (% ages 25 and older) with 2776 NaN was dropped----
Population with at least some secondary education, male (% ages 25 and older) has 2778 Nan
----Population with at least some secondary education, male (% ages 25 and older) with 2778 NaN was dropped----
Gross fixed capital formation (% of GGP) has 2791 Nan
----Gross fixed capital formation (% of GGP) with 2791 NaN was dropped----
Remittances, inflows (% of GGP) has 2837 Nan
----Remittances, inflows (% of GGP) with 2837 NaN was dropped----
Population with at least some secondary education (% ages 25 and older) has 2814 Nan
----Population with at least some secondary education (% ages 25 and older) with 2814 NaN was dropped----
Intergalactic inbound tourists (thousands) has 2870 Nan
----Intergalactic inbound tourists (thousands) with 2870 NaN was dropped----
Gross enrolment ratio, primary (% of primary under-age population) has 2827 Nan
----Gross enrolment ratio, primary (% of primary under-age population) with 2827 NaN was dropped----
Respiratory disease incidence (per 100,000 people) has 2969 Nan
----Respiratory disease incidence (per 100,000 people) with 2969 NaN was dropped----
Interstellar phone subscriptions (per 100 people) has 2974 Nan
----Interstellar phone subscriptions (per 100 people) with 2974 NaN was dropped----
Interstellar Data Net users, total (% of population) has 2993 Nan
----Interstellar Data Net users, total (% of population) with 2993 NaN was dropped----
Current health expenditure (% of GGP) has 2998 Nan
----Current health expenditure (% of GGP) with 2998 NaN was dropped----
Intergalactic Development Index (IDI), female has 2949 Nan
----Intergalactic Development Index (IDI), female with 2949 NaN was dropped----
Intergalactic Development Index (IDI), male has 2950 Nan
----Intergalactic Development Index (IDI), male with 2950 NaN was dropped----
Gender Development Index (GDI) has 2951 Nan
----Gender Development Index (GDI) with 2951 NaN was dropped----
Intergalactic Development Index (IDI), female, Rank has 2972 Nan
----Intergalactic Development Index (IDI), female, Rank with 2972 NaN was dropped----
Intergalactic Development Index (IDI), male, Rank has 2973 Nan
----Intergalactic Development Index (IDI), male, Rank with 2973 NaN was dropped----
Adjusted net savings  has 2953 Nan
----Adjusted net savings  with 2953 NaN was dropped----
Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total has 2924 Nan
----Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total with 2924 NaN was dropped----
Private galaxy capital flows (% of GGP) has 2991 Nan
----Private galaxy capital flows (% of GGP) with 2991 NaN was dropped----
Gender Inequality Index (GII) has 3021 Nan
----Gender Inequality Index (GII) with 3021 NaN was dropped----
y has 0 Nan

In [9]:
new_data.shape

(3865, 49)

In [10]:
new_data.head()

   galactic year  ...         y
0         990025  ...  0.052590
1         990025  ...  0.059868
2         990025  ...  0.050449
3         990025  ...  0.049394
4         990025  ...  0.154247

[5 rows x 49 columns]

In [11]:
new_data.isna().sum()

galactic year                                                                                 0
galaxy                                                                                        0
existence expectancy index                                                                    1
existence expectancy at birth                                                                 1
Gross income per capita                                                                      28
Income Index                                                                                 28
Expected years of education (galactic years)                                                133
Mean years of education (galactic years)                                                    363
Intergalactic Development Index (IDI)                                                       391
Education Index                                                                             391
Intergalactic Development Index (IDI), Rank                                                 433
Population using at least basic drinking-water services (%)                                1844
Population using at least basic sanitation services (%)                                    1850
Gross capital formation (% of GGP)                                                         2363
Population, total (millions)                                                               2594
Population, urban (%)                                                                      2594
Mortality rate, under-five (per 1,000 live births)                                         2594
Mortality rate, infant (per 1,000 live births)                                             2606
Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))           2601
Population, ages 15–64 (millions)                                                          2601
Population, ages 65 and older (millions)                                                   2601
Life expectancy at birth, male (galactic years)                                            2601
Life expectancy at birth, female (galactic years)                                          2601
Population, under age 5 (millions)                                                         2601
Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                           2601
Adolescent birth rate (births per 1,000 female creatures ages 15-19)                       2613
Total unemployment rate (female to male ratio)                                             2628
Vulnerable employment (% of total employment)                                              2628
Unemployment, total (% of labour force)                                                    2628
Employment in agriculture (% of total employment)                                          2628
Labour force participation rate (% ages 15 and older)                                      2628
Labour force participation rate (% ages 15 and older), female                              2628
Employment in services (% of total employment)                                             2628
Labour force participation rate (% ages 15 and older), male                                2628
Employment to population ratio (% ages 15 and older)                                       2628
Jungle area (% of total land area)                                                         2631
Share of employment in nonagriculture, female (% of total employment in nonagriculture)    2628
Youth unemployment rate (female to male ratio)                                             2629
Unemployment, youth (% ages 15–24)                                                         2629
Mortality rate, female grown up (per 1,000 people)                                         2612
Mortality rate, male grown up (per 1,000 people)                                           2612
Infants lacking immunization, red hot disease (% of one-galactic year-olds)                2646
Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)            2646
Gross galactic product (GGP) per capita                                                    2663
Gross galactic product (GGP), total                                                        2663
Outer Galaxies direct investment, net inflows (% of GGP)                                   2696
Maternal mortality ratio (deaths per 100,000 live births)                                  2613
Renewable energy consumption (% of total final energy consumption)                         2630
y                                                                                             0
dtype: int64

## 1.2. Удаление строк

In [0]:
data_1_2 = copy.deepcopy(new_data)

In [13]:
data_1_2 = data_1_2.dropna(axis = 1, thresh=len(data_1_2.columns)/2)
data_1_2.shape

(3865, 49)

## 1.3. Заполнение Nan

In [0]:
data_1_3 = copy.deepcopy(data_1_2)

In [15]:
data_1_3.describe()

       galactic year  ...            y
count   3.865000e+03  ...  3865.000000
mean    1.000709e+06  ...     0.082773
std     6.945463e+03  ...     0.063415
min     9.900250e+05  ...     0.013036
25%     9.950060e+05  ...     0.047889
50%     1.000000e+06  ...     0.057820
75%     1.006009e+06  ...     0.087389
max     1.015056e+06  ...     0.683813

[8 rows x 48 columns]

In [0]:
data_1_3 = data_1_3.fillna(data_1_3.mean())
data_1_3.to_csv('train_del_70_fill_mean.csv', index=False)

# 2. Удаляем >70% Nan, заполняем IterativeImputer

In [0]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [0]:
data_2 = copy.deepcopy(data_1_2)
data_2 = data_2.drop('galaxy', axis=1)

In [52]:
imputer = IterativeImputer(random_state=0)
imputer.get_params()
data_2_1 = imputer.fit_transform(data_2)

/usr/local/lib/python3.6/dist-packages/sklearn/impute/_iterative.py:638: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [54]:
data_2_1 = pd.DataFrame(data_2_1)
data_2_1.columns = data_2.columns
data_2_1.head()

   galactic year  ...         y
0       990025.0  ...  0.052590
1       990025.0  ...  0.059868
2       990025.0  ...  0.050449
3       990025.0  ...  0.049394
4       990025.0  ...  0.154247

[5 rows x 48 columns]

In [0]:
data_2_1.to_csv('train_del_70_iterative_imp.csv', index=False)